<template>
  <div class="tickets">
    <!--<b-container fluid class="div1">
      <img alt="map" class="" src="~/assets/images/paper_background-min.png" />
    </b-container>-->
    <b-container class="div2">
      <b-row>
        <b-col class="click-below-text">
          <h2>Click to purchase tickets!</h2>
        </b-col>
      </b-row>
      <b-row style="height: 300px">
        <b-col>
          <a href="https://www.osc.org/pompeii/"
            ><img
              class="orlando-science-center center-image"
              src="~/assets/images/orlando_science_center.png"
              alt="Orlando Science Center"
          /></a>
        </b-col>
        <b-col>
          <a href="https://artandhistory.org/maitland-art-center/"
            ><img
              class="maitland-arts-center center-image"
              src="~/assets/images/maitland_arts_center.png"
              alt="Maitland Arts Center"
          /></a>
        </b-col>
      </b-row>
      <b-row style="height: 300px">
        <b-col
          ><a href="https://madcowtheatre.com/taste-of-pompeii/"
            ><img
              class="wop-logo center-image"
              src="~/assets/images/wop_logo.png"
              alt="" /></a></b-col
        ><b-col
          ><a href="https://www.sophiarosefilm.com"
            ><img
              class="rose-photography center-image"
              src="~/assets/images/rose_photography.jpg"
              alt="" /></a></b-col
      ></b-row>
    </b-container>
  </div>
</template>

<script>
export default {}

/*          <b-row class="center">
            <a href="https://artandhistory.org/maitland-art-center/"
              ><b-button class="mx-auto img-fluid"
                >Click for Tickets</b-button
              ></a
            >
          </b-row>*/
</script>

<style scoped>
@media (max-width: 768px) {
  .div1 {
    display: none;
  }
  .tickets {
    padding-bottom: 150px;
    padding-top: 10px;
    margin-top: 10px;
  }
  .div2 {
    z-index: 2;
    position: relative;
    margin-top: 20px;
    padding-top: 50px;
  }
  .rose-photography {
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .tickets {
    padding-bottom: 30px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .div2 {
    z-index: 2;
    position: relative;
    margin-top: 20px;
    padding-top: 10%;
  }
  .maitland-arts-center {
    padding-top: 17%;
  }

  .click-below-text {
    border-bottom: white dashed 3px;
  }
}

button {
  background-color: #c0b19e;
  border: 8px solid transparent;
  padding: 5px;
  border-image: url('~assets/images/border.png') 28 round;
}

.tickets {
  background-image: url('~assets/images/paper_background-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div1 {
  z-index: 1;
  position: absolute;
}

.center-image {
  margin: auto;
  display: block;
}

.click-below-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px black;
  color: white /*#896356*/;
}

.orlando-science-center {
  max-width: 200px;
  border-radius: 15px;
}

.maitland-arts-center {
  max-width: 300px;
}

.rose-photography {
  max-width: 250px;
}

.wop-logo {
  max-width: 250px;
}
</style>
