<template>
  <div>
    <b-container fluid class="div1">
      <b-row>
        <b-col class="center">
          <img
            alt="map"
            class="img-fluid mx-auto"
            src="~/assets/images/stone_background.png"
        /></b-col>
      </b-row>
    </b-container>
    <cast-list class="div2"></cast-list>
  </div>
</template>

<script>
import CastList from '@/components/CastList'
export default {
  components: {
    CastList,
  },
}
</script>

<style>
@media (max-width: 768px) {
  .div1 {
    display: none;
  }
  .div2 {
    margin: 0;
  }
  .cast {
    padding-top: 20px;
  }
  .wop-title {
    display: none;
  }
  p {
    font-size: x-small;
  }
  h3 {
    font-size: large;
  }
  h4 {
    font-size: medium;
  }
}

@media (min-width: 1200px) {
  .div2 {
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  p {
    font-size: small;
  }
  h4 {
    font-size: large;
  }
  .div2 {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  p {
    font-size: x-small;
  }
  h3 {
    font-size: large;
  }
  h4 {
    font-size: medium;
  }
  .div2 {
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@font-face {
  font-family: 'Caligula';
  src: url('~assets/fonts/calid.ttf');
}

.roman-text {
  font-family: 'Caligula';
}

.div1 {
  z-index: 3;
  position: absolute;
}

.div2 {
  z-index: 4;
  position: relative;
}
</style>
