<template>
  <b-container class="list" fluid>
    <b-container fluid>
      <b-row>
        <b-col>
          <h3 class="wop-title">Women Of POMPEII</h3>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="program-list">
      <b-row>
        <b-col class="production-team" md="6">
          <h4
            style="
              text-align: center;
              border-bottom: 1px solid #896356;
              margin-bottom: 24px;
            "
          >
            Production Team
          </h4>
          <program-name name="Stacy Barton" title="Writer" />
          <program-name name="Roberta Emerson" title="Director" />
          <program-name name="Alex Whittenberg" title="Art Director" />
          <program-name name="Lisa Buck" title="Props/Scenic Charge" />
          <program-name name="Pana Thitaram" title="Map Design/Props" />
          <program-name name="Kat Henwood" title="Costume Designer" />
          <program-name name="Bobbie Bell" title="Composer" />
          <program-name name="Anthony Narcisco" title="Sound" />
          <program-name
            name="Alyssa Will Zegers"
            title="Producer/Stage Manager"
          />
          <program-name name="Rose Flores" title="Videographer/Editor" />
          <program-name name="Jonathan Zegers" title="Website" />
        </b-col>
        <b-col class="production-team cast" md="6">
          <h4
            style="
              text-align: center;
              border-bottom: 1px solid #896356;
              margin-bottom: 24px;
            "
          >
            Cast
          </h4>
          <program-name name="Laura Mansoori" title="I. Empress Poppaea" />
          <program-name name="Katie DeBari" title="II. Young Mother" />
          <program-name name="DaZaria Harris" title="III. Julia Felix" />
          <program-name name="Monica Long Tamborello" title="VI. Slave Girl" />
          <program-name name="Briana Moten" title="V. Midwife" />
          <program-name name="Ema Pava" title="VI. Courtesan" />
          <program-name name="Sarah Mathews" title="VII. Eumachia" />
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import ProgramName from '@/components/ProgramName'
export default {
  components: {
    ProgramName,
  },
}
</script>

<style>
p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.wop-title {
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px black;
  color: #896356;
}
.program-list {
  background-color: #c0b19e;
  padding: 20px;
  margin-top: 12px;
}

.center {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.production-team {
  color: #896356;
}

.styled-line {
  border-top: 1px solid #896356;
}
</style>
