<template>
  <p style="text-align: left">
    <b>{{ title }}</b>
    <span style="float: right">{{ name }}</span>
  </p>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
}
</script>
