<template>
  <b-navbar class="nav" toggleable="md" type="light" variant="light">
    <a href="https://madcowtheatre.com/">
      <img
        src="~/assets/images/mad_cow_logo.png"
        class="d-inline-block align-top"
        alt="Mad Cow Theatre"
        height="50px"
      />
    </a>
    <b-navbar-brand class="branding" href="/explore">
      Women of Pompeii</b-navbar-brand
    >
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="/explore">Map</b-nav-item>
        <b-nav-item href="/tickets">Tickets</b-nav-item>
        <b-nav-item href="/program">Program</b-nav-item>
        <button class="mute-button" @click="muteFunc">Mute</button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  methods: {
    muteFunc() {
      const x = document.getElementById('background-music')
      if (this.mute) {
        x.play()
        this.mute = false
      } else {
        x.pause()
        this.mute = true
      }
    },
  },
}
</script>

<style scoped>
@media (max-width: 768px) {
  .branding {
    padding-left: 5px;
  }
}

@media (min-width: 768px) {
  .branding {
    padding-left: 15px;
  }
}
</style>
