<template>
  <b-container class="other-pompeii paper">
    <b-row>
      <b-col md="6" class="event-formatting">
        <h3 style="border-bottom: 3px solid">
          POMPEII IN THE PARK: Ancient Tales &amp; Magical Myths
        </h3>
        <p>
          How does an hourglass, a field notebook, and a time-traveling
          archeologist bring the tall tales of an ancient time to the kids in
          our town? By bringing Pompeii to the Parks! Part entertainment, part
          education, Mad Cow Theatre’s original, family-friendly show is
          performed on grassy knolls in a handful of parks around town during
          the month of January.
        </p>
        <p>
          As our warm and witty storyteller from a bygone era, Gertrude the
          Archeologist uses her magical hourglass to turn the sands of time to
          bring her and her assistant into our time. Then, surrounded by pods of
          families seated in the grass, Gertrude’s hourglass—and her
          absentminded assistant’s field notebook—bring back the ancient tales
          and magical myths of the goddesses of Pompeii.
        </p>
        <b-row style="justify-content: center">
          <b-button
            style="margin-top: 10px; margin-bottom: 10px"
            href="https://boxoffice.madcowtheatre.com/Home/Coupons/103"
            >Reserve Tickets for Jan 30 - 2pm</b-button
          >
        </b-row>
        <b-row style="justify-content: center">
          <b-button
            style="margin-top: 10px; margin-bottom: 10px"
            href="https://boxoffice.madcowtheatre.com/Home/Coupons/104"
            >Reserve Tickets for Jan 30 - 4pm</b-button
          >
        </b-row>
      </b-col>
      <b-col class="event-formatting">
        <h3 style="border-bottom: 3px solid">
          TASTE OF POMPEII: From the House of Amarantus
        </h3>
        <p>
          What if a fresco featuring the Women of Pompeii could be brought from
          the House of Amarantus to the streets of the City Beautiful? For two
          weekends in January, Mad Cow Theatre plans to do just that,
          celebrating the flavors of “the Immortal City” in a safe and socially
          distant outdoor event on Church Street.
        </p>
        <p>
          In between small plates and perfectly paired wines, inspired by the
          riches of Mount Vesuvius, ancient music and haunting stories spill
          forth, as does a feisty combat scene and a moving dance—all created
          exclusively for this night. It is as if the ghosts of the Women of
          Pompeii have come to us, weaving their way between courses of food and
          wine while live music creates the soundtrack for an evening of
          entertainment under the stars.
        </p>
        <b-row style="justify-content: center">
          <b-button>SOLD OUT!</b-button>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<style scoped>
@media (min-width: 1200px) {
  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: small;
  }
  .other-pompeii {
    margin-top: 830px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .paper {
    background-image: url('~assets/images/paper_background-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: small;
  }
  .other-pompeii {
    margin-top: 730px;
    padding: 60px;
  }
  .paper {
    background-image: url('~assets/images/paper_background-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  h1 {
    font-size: xx-large;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: small;
  }
  .other-pompeii {
    margin-top: 550px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .paper {
    background-image: url('~assets/images/paper_background-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  h1 {
    font-size: x-large;
    font-weight: bold;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: x-small;
  }
  .other-pompeii {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: x-large;
    font-weight: bold;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: x-small;
  }
  .other-pompeii {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}

.coming-soon {
  margin-bottom: 40px;
  border-bottom: 1px dashed;
}

.event-formatting {
  border-radius: 15px;
  background-color: #c6a077;
  padding-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
</style>
