<template>
  <b-container class="paper intro-section">
    <b-row>
      <b-col class="vop-title">
        <h1><b>VOICES OF POMPEII</b></h1>
        <h3 style="border-bottom: 2px solid">
          <i>If Their Ghosts Could Talk</i>
        </h3>
        <span class="d-none d-md-block">
          <p>
            <b>
              Pompeii. A devastating eruption. An ancient fascination. A city
              preserved in death. But what went on before they died? And what if
              their ghosts could talk? In an archeological dig of a theatrical
              kind Mad Cow Theatre focuses on the heart of life for a woman in
              an ancient empire.
            </b>
          </p>
          <p><b>Instructions:</b></p>
          <p>
            <b>
              Hovering over the roman numerals in the interactive map below,
              your show comes to life in the comfort of your own home with a
              series of seven pop-up videos. Each virtual monologue stands
              alone, but if you view them in order, they form a concert of
              women’s lives intertwined. From wealthy landowners, midwives, and
              priestesses, to mothers, courtesans and slaves, you will discover
              what it was like to be a woman in Pompeii.
            </b>
          </p>
        </span>
        <span class="d-sm-block d-md-none">
          <p>
            <b>
              In an archeological dig of a theatrical kind Mad Cow Theatre
              focuses on the heart of life for a woman in an ancient empire.
            </b>
          </p>
          <p><b>Instructions:</b></p>
          <p>
            <b
              >Hovering over the roman numerals in the interactive map below,
              your show comes to life in the comfort of your own home with a
              series of seven pop-up videos.
            </b>
          </p>
        </span>
      </b-col>
    </b-row>
  </b-container>
</template>

<style scoped>
@media (min-width: 768px) {
  .intro-section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: small;
  }
  h1 {
    font-size: large;
  }
  h3 {
    font-size: medium;
  }
  .intro-section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.vop-title {
  background-color: #c6a077;
  padding: 20px;
  border-radius: 15px;
}

.paper {
  background-image: url('~assets/images/paper_background-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
</style>
