<template>
  <div>
    <b-container class="map">
      <b-row>
        <img alt="map" class="paper-map" src="~assets/images/map-min.png" />

        <b-button class="modal-button I" v-b-modal.modal-1><h1>I</h1></b-button>

        <b-button class="modal-button II" v-b-modal.modal-2
          ><h1>II</h1></b-button
        >
        <b-button class="modal-button III" v-b-modal.modal-3
          ><h1>III</h1></b-button
        >
        <b-button class="modal-button IV" v-b-modal.modal-4
          ><h1>IV</h1></b-button
        >
        <b-button class="modal-button V" v-b-modal.modal-5><h1>V</h1></b-button>
        <b-button class="modal-button VI" v-b-modal.modal-6
          ><h1>VI</h1></b-button
        >
        <b-button class="modal-button VII" v-b-modal.modal-7
          ><h1>VII</h1></b-button
        >
      </b-row>
      <b-row>
        <b-container class="toc">
          <table-of-contents></table-of-contents>
        </b-container>
      </b-row>
    </b-container>

    <video-modals size="lg" id="modal-1" title="I" video="Empress_v1.mp4" />
    <video-modals
      size="sm"
      id="modal-2"
      title="II"
      video="Young_Mother_v1.mp4"
    />
    <video-modals
      size="sm"
      id="modal-3"
      title="III"
      video="Julia_Felix_v2.mp4"
    />
    <video-modals size="lg" id="modal-4" title="IV" video="Gaia_v1.mp4" />
    <video-modals size="sm" id="modal-5" title="V" video="Midwife_v1.mp4" />
    <video-modals size="lg" id="modal-6" title="VI" video="Courtesan_v1.mp4" />
    <video-modals size="lg" id="modal-7" title="VII" video="Eumachia_v1.mp4" />
  </div>
</template>

<script>
import TableOfContents from '@/components/explore/TableOfContents'
import VideoModals from '@/components/explore/VideoModals'

export default {
  components: {
    TableOfContents,
    VideoModals,
  },
}
</script>

<style scoped>
@media (min-width: 1200px) {
  .toc {
    position: absolute;
    margin-top: 620px;
    margin-left: 720px;
  }
  .paper-map {
    width: 1150px;
  }
  .I {
    position: absolute;
    margin-top: 420px;
    margin-left: 890px;
  }

  .II {
    position: absolute;
    margin-top: 320px;
    margin-left: 495px;
  }

  .III {
    position: absolute;
    margin-top: 250px;
    margin-left: 800px;
  }

  .IV {
    position: absolute;
    margin-top: 540px;
    margin-left: 300px;
  }

  .V {
    position: absolute;
    margin-top: 350px;
    margin-left: 280px;
  }

  .VI {
    position: absolute;
    margin-top: 430px;
    margin-left: 590px;
  }

  .VII {
    position: absolute;
    margin-top: 630px;
    margin-left: 360px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .toc {
    position: absolute;
    margin-top: 500px;
    margin-left: 550px;
  }
  .paper-map {
    width: 970px;
  }
  .I {
    position: absolute;
    margin-top: 350px;
    margin-left: 760px;
  }

  .II {
    position: absolute;
    margin-top: 270px;
    margin-left: 415px;
  }

  .III {
    position: absolute;
    margin-top: 230px;
    margin-left: 670px;
  }

  .IV {
    position: absolute;
    margin-top: 450px;
    margin-left: 250px;
  }

  .V {
    position: absolute;
    margin-top: 300px;
    margin-left: 240px;
  }

  .VI {
    position: absolute;
    margin-top: 350px;
    margin-left: 490px;
  }

  .VII {
    position: absolute;
    margin-top: 550px;
    margin-left: 310px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .toc {
    position: absolute;
    margin-top: 370px;
    margin-left: 350px;
  }
  .paper-map {
    width: 730px;
  }
  .I {
    position: absolute;
    margin-top: 250px;
    margin-left: 570px;
  }

  .II {
    position: absolute;
    margin-top: 200px;
    margin-left: 310px;
  }

  .III {
    position: absolute;
    margin-top: 150px;
    margin-left: 500px;
  }

  .IV {
    position: absolute;
    margin-top: 340px;
    margin-left: 170px;
  }

  .V {
    position: absolute;
    margin-top: 210px;
    margin-left: 170px;
  }

  .VI {
    position: absolute;
    margin-top: 260px;
    margin-left: 360px;
  }

  .VII {
    position: absolute;
    margin-top: 420px;
    margin-left: 115px;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .toc {
    margin-top: 420px;
  }
  .paper-map {
    width: 550px;
  }
  .I {
    position: absolute;
    margin-top: 190px;
    margin-left: 420px;
  }

  .II {
    position: absolute;
    margin-top: 100px;
    margin-left: 220px;
  }

  .III {
    position: absolute;
    margin-top: 95px;
    margin-left: 370px;
  }

  .IV {
    position: absolute;
    margin-top: 250px;
    margin-left: 110px;
  }

  .V {
    position: absolute;
    margin-top: 140px;
    margin-left: 120px;
  }

  .VI {
    position: absolute;
    margin-top: 190px;
    margin-left: 270px;
  }

  .VII {
    position: absolute;
    margin-top: 300px;
    margin-left: 170px;
  }
}

@media (max-width: 576px) {
  .paper-map {
    width: 374px;
  }
  .toc {
    margin-top: 300px;
  }
  .I {
    position: absolute;
    margin-top: 150px;
    margin-left: 260px;
  }

  .II {
    position: absolute;
    margin-top: 50px;
    margin-left: 140px;
  }

  .III {
    position: absolute;
    margin-top: 50px;
    margin-left: 270px;
  }

  .IV {
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
  }

  .V {
    position: absolute;
    margin-top: 80px;
    margin-left: 45px;
  }

  .VI {
    position: absolute;
    margin-top: 120px;
    margin-left: 150px;
  }

  .VII {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
  }
}

button {
  font-family: 'Caligula';
}

.modal-button:hover {
  background-color: transparent;
  color: white;
}

.modal-button:focus {
  background-color: transparent;
}

.modal-button:active {
  background-color: transparent;
}

body {
  background-color: #cfad88;
}

.modal-button {
  background: none;
  color: black;
  border: black;
}

.modal-format {
  background-color: transparent;
}

.paper-map {
  position: absolute;
}

.toc {
  z-index: 2;
  background-color: #c0b19e;
  border-style: solid;
  height: 135px;
  width: 350px;
}
</style>
