<template>
  <div class="list toc-p">
    <program-name name="House of Menander" title="I." />
    <program-name name="Flat of Demetrius the Painter" title="II." />
    <program-name name="The House of Julia Felix" title="III." />
    <program-name name="Slave Quarters" title="IV." />
    <program-name name="Insulae of Lucia the Midwife" title="V." />
    <program-name name="Lupanar (Brothel)" title="VI." />
    <program-name name="Temple of Venus" title="VII." />
  </div>
</template>

<script>
import ProgramName from '@/components/ProgramName'
export default {
  components: {
    ProgramName,
  },
}
</script>

<style>
.toc-p {
  line-height: 1px;
}

.list {
  padding-top: 15px;
}
</style>
