<template>
  <b-modal
    :size="size"
    :id="id"
    :title="title"
    centered
    hide-header
    hide-footer
    @hide="resumeMusic"
    @show="pauseMusic"
  >
    <video
      :src="require(`@/assets/videos/${video}`)"
      class="center"
      controls
      autoplay
      type="video/mp4"
      width="100%"
    ></video>
  </b-modal>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: '',
    },
    size: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    video: {
      type: String,
      default: '',
    },
  },
  methods: {
    resumeMusic() {
      const x = document.getElementById('background-music')
      x.play()
      this.mute = false
    },

    pauseMusic() {
      document.getElementById('background-music').pause()
      this.mute = true
    },
  },
}
</script>
