<template>
  <div>
    <intro-section></intro-section>
    <pompeii-map></pompeii-map>
    <additional-events></additional-events>
  </div>
</template>

<script>
import PompeiiMap from '@/components/explore/PompeiiMap'
import IntroSection from '@/components/explore/IntroSection'
import AdditionalEvents from '@/components/explore/AdditionalEvents'

export default {
  components: {
    PompeiiMap,
    IntroSection,
    AdditionalEvents,
  },
}
</script>

<style scoped>
@font-face {
  font-family: 'Caligula';
  src: url('~assets/fonts/calid.ttf');
}

.container {
  font-family: 'Caligula';
}
.roman-text {
  font-family: 'Caligula';
}
</style>
