<template>
  <div>
    <top-header></top-header>
    <Nuxt />
    <audio id="background-music" src="../assets/mp3/wop.mp3" autoplay loop volume="0.2">
      <embed
        src="../assets/mp3/wop.mp3"
        hidden="true"
        loop="true"
        autostart="true"
      />
    </audio>
  </div>
</template>

<script>
import TopHeader from '@/components/TopHeader'
export default {
  components: {
    TopHeader,
  },

  data: function () {
    return {
      mute: false,
    }
  },

  mounted() {
    const x = document.getElementById('background-music')
    
    if (x.paused || x.currentTime) {
      this.mute = true
    }
    //x.volume = 0.2
  },
}
</script>

<style>
@font-face {
  font-family: 'Caligula';
  src: url('~assets/fonts/calid.ttf');
}

html {
  font-family: 'Caligula';
}

div {
  font-family: 'Caligula';
}

body {
  background-color: #cfad88;
}

.nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
</style>
