<template>
  <div>
    <Nuxt />
  </div>
</template>

<script>
export default {}
</script>

<style>
@font-face {
  font-family: 'Caligula';
  src: url('~assets/fonts/calid.ttf');
}

html {
  font-family: 'Caligula';
}

div {
  font-family: 'Caligula';
}

body {
  background-color: #cfad88;
}
</style>
