<template>
  <b-container fluid class="enter">
    <a href="/explore">
      <img
        alt="Women of Pompeii"
        class="wop-logo"
        src="~/assets/images/wop_logo.png"
      />
      <h3 class="enter">Enter</h3>
    </a>
  </b-container>
</template>

<script>
export default {
  layout: 'splash',
}
</script>

<style>
html,
body {
  height: 100%;
}
body {
  background-image: url('~assets/images/background.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
@media (max-width: 768px) {
  body {
    background-image: none;
  }
}
.wop-logo {
  width: 70%;
  height: auto;
  max-width: 500px;
  padding-top: 15vh;
}
.enter {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  transition: background-size 0.2s;
}
a:hover {
  text-decoration: none;
  color: lightblue;
}
</style>
